.pagination {
    width: 100%;
    @include flex-center;

    &__item {
        @include size(40px, 40px);
        margin: 4px;
        color: $black-gray;
        background-color: transparent;
        border-radius: 8px;
        border: none;

        &.current {
            box-shadow: 0 0 11px 0 rgb(0 0 0 / 10%);
            border: 1px solid $green;
        }
    }
}