.ingredients-block {
    padding: 50px;
    background-color: $white;

    .ingredient-header {
        @include size(100%, 60px);
        @include flex(center, space-between);
        padding: 0 40px;
        color: $white;
        background-color: $green;
        border-radius: 5px;

        .number-add {
            width: 220px;
            @include flex(center, space-between);
        }
    }
}

@media(max-width: 880px) { 
    .ingredients-block {
        .ingredient-header  {
            padding: 0 20px;
            .number-add {
                width: 160px;

                
            }

           
        }
    }
}

@media(max-width: 570px) {
    .ingredients-block {
        padding: 20px;
    }
}

@media(max-width: 450px) {
    .ingredients-block .ingredient-header .number-add {
        display: none;
    }
}