.menu {
    .menu-block {
        
        @include flex(center, none, column);
        @include size(100vw, 100vh);
        @include rePositionTopLeft(-101vh, 0, fixed);
        background-color: $light-green;
        z-index: 10;
    }
    
    .logo-close {
        width: 100%;
        padding: 24px 64px;
        @include flex(center, space-between);
        cursor: pointer;
        z-index: 3;
    }

    .bg-img {
        @include size(558px, 725px);
        transform: rotate(13deg);
        @include rePositionTopLeft(-630px, 430px);
        flex-shrink: 0;
        z-index: 1;
    }

    .icon-menu {
        display: none;
    }

    .menu-ul {
       
        margin-top: 10%;
        @include flex(center, space-between, column);
        z-index: 3;
        .list-ul {
            text-align: center;
            font-size: 24px;
            letter-spacing: -0.48px;
            list-style: none;
            li {
                height: 51px;
                margin-top: 22px;
                overflow: hidden;
                a{
                    @include positionTopRight(relative, 86px, 0);
                    transform: rotateZ(16deg);
                    height: 100%;
                    font-size: 40px;
                    color: $black
                }
            }

        }
    }
}

@media(max-width: 790px) {
    .header {
        .icon-menu  {
            display: block;
        }
    }
}