$black: #1E1F28;
$black-gray: #22252A;
$granite: #2A2C36;
$purplish-blue: #3E4462;
$dark-blue: #001833;


$light-gray: #BBBBBB;
$light-gray2: #D9D9D9;
$light-gray3: #BDBDBD;
$white: #FAFAFA;
$white2: #dddada;

$green: #8BAA36;
$light-green: #EBF3D4;
$red: #E74A3B;

$shadow: rgba(0, 0, 0, 0.25);
$shadow2: rgba(0, 0, 0, 0.1);