.bg-dialog {
    @include size(100vw, 100vh);
   
    @include positionTopLeft(absolute, 0px, 0px);
    background-color: rgba(0, 0, 0, 0.20);
    z-index: 10;
}

.wapper-dialog {
    @include size(100vw, 100vh);
   
    @include positionTopLeft(absolute, 0px, 0px);
    @include flex-center;
}

.dialog {
    min-width: 500px;
    min-height: 215px;
    position: absolute;
    background-color: $white;
    border-radius: 30px;
    box-shadow: 0px 4px 48px 0px $shadow2;
    z-index: 15;
    .text {
        color: $black-gray;
        text-align: center;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.36px;
    }

    .icon-close {
        @include positionTopLeft(absolute, 10px, 90%);
        cursor: pointer;
    }
}