.product-block {
  @include size(100%, 140px);
  border-bottom: 1px solid $shadow;
  margin-bottom: 44px;
  .product-block__inner {
    height: 100%;
    @include flex(start, space-between, row);
  }
  .img-name {
    @include flex(start, space-between, row);
    .img {
      @include size(93px, 97px);
      margin-right: 16px;
      @include bg-img('https://spoonacular.com/cdn/ingredients_250x250/dry-cannellini-beans.jpg', contain);
    }

    .title {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .amount-remove {
    width: 230px;
    @include flex(start, space-between, row);
    .amount.hidden {
      opacity: 0;
    }
    .amount.show {
      opacity: 1;
    }
  }
}