.welcome {
    min-height: 100vh;
    margin: 0;
    @include bg-img('../../assets/img/bg2.webp', cover, top);
    @include flex-center();
    &__wrapper {
        @include size(550px);
        @include flex-center(column);
    }

    .welcome__logo {
        img {
            @include size(64px, 64px);
        }
    }

    &__title {
        margin: 34px 0 10px;
    }

    .title {
        font-weight: 600;
        font-size: 28px;
        line-height: 28px;
    
        &-white {
            color: $white;
        }
    }

    .sub-title {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        letter-spacing: -0.02em;

        &-white {
            color: $white;
        }
    }

    .register-singIn__btns {
        @include flex-center;
        margin-top: 40px;
        .register-singIn__btn {
            margin-left: 16px;
        }
    }
}

@media(max-width:580px) {
    .welcome__wrapper {
        width: 90%;
    }
}

@media(max-width:390px) {
    .welcome .register-singIn__btns {
        flex-direction: column;

        a:first-child {
            margin-bottom: 20px;
        }
    }
}