main {
    margin-bottom: 220px;
    .title {
        margin: 100px 100px 50px;
    }

    .title-small {
        margin: 0 100px 50px;
    }

    .search-system {
        margin-bottom: 100px;
        &__wrapper {
            width: 480px;
            position: relative;
            margin: 0 auto;
            @include flex-center;

            .input {
                height: 67px;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 60px;
            }

            .btn {
                width: 160px;
                position: absolute;
                right: -30px;
            }
        }
    }
}

@media (max-width: 720px) {
    main {
        margin-bottom: 300px;

        .title {
            margin-left: 50px;
        }

        .search-system__wrapper {
            width: 90%;
            .input {
                border-top-right-radius: 60px;
                border-bottom-right-radius: 30px;
            }
    
            .btn {
                width: 100%;
                right: 0;
                bottom: -80px;
            }
        }
    }
}

@media (max-width: 460px) {
    main .title-small {
        margin-right: 20px;
    }
}