.header {
    position: relative;
    width: 100%;
    margin-top: 10px;
    z-index: 10;
    &_wrapper {
        @include flex(center, space-around);
    }

    .logo {
        @include size(44px, 44px);
    }
    .icon-search {
        @include size(24px, 24px);
    }

    

    .nav {
        width: 400px;
        @include flex-center();
        &_list {
            @include flex(center, space-around);
            list-style: none;
            padding: 0;
        }
    
        &_list-item {
            margin: 0 15px;
            font-size: 14px;
            font-weight: 500;
            line-height: 22.4px;
        }
    }
}

@media(max-width: 790px) {
    .header {
        padding: 10px 10px;
        .header_wrapper {
            justify-content: space-between;
        }

        .nav {
            display: none;

        }
        .icon-menu  {
            display: block;
        }
    }
}